name: Links (Fail Fast)

on:
  pull_request:
    branches:
      - main

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up R  # Install R from CRAN
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4.3' # You can specify a different R version if needed

      - name: Install R packages
        run: |
          Rscript -e 'install.packages("fs")'
        shell: bash

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          fail: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
